swagger: "2.0"
info:
  title: Sony Control service
  description: Expose Sony display control protocols in a RESTFul API
  version: "0.1"
host: avdocker.byu.edu:8006
schemes:
  -http
produces:
  -application/json
paths:
  /health:
    get:
      summary: Check Service Health
      description: |
        Returns information about the microservice's health
      tags:
        - Health
      responses:
        200:
          description: A health message
          schema:
            type: array
            items:
              $ref: "#/definitions/Response"
        401:
          $ref: "#/responses/401"
        500:
          $ref: "#/responses/500"
        503:
          $ref: "#/responses/503"
        default:
          $ref: "#/responses/default"
definitions:
  HATEOAS:
    type: object
    properties:
      rel:
        type: string
        description: A human-readable name for what the link represents
      href:
        type: string
        description: The link to the endpoint
  Error:
    type: object
    properties:
      message:
        type: string
responses:
  202:
    description: The request has been accepted for processing, but the processing has not been completed. The request might or might not eventually be acted upon, as it might be disallowed when processing actually takes place.
    schema:
      $ref: "#/definitions/Error"
  401:
    description: You are not authorized to make that request
    schema:
      $ref: "#/definitions/Error"
  500:
    description: There was a problem with the server on our end
    schema:
      $ref: "#/definitions/Error"
  503:
    description: The server is overloaded, is under maintenance, or is otherwise unavailable
    schema:
      $ref: "#/definitions/Error"
  default:
    description: Unexpected error
    schema:
      $ref: "#/definitions/Error"
