{
	"swagger": "2.0",
	"info": {
		"title": "Sony Control Microservice",
		"description": "Interact with Sony display control protocols",
		"version": "0.1"
	},
	"host": "api.byu.edu:443",
	"basePath": "/byuoitav-sony-control-microservice/0.1",
	"schemes": [
		"https"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/health": {
			"get": {
				"summary": "Check Service Health",
				"description": "Returns information about the microservice's health",
				"tags": [
					"Health"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/list/commands": {
			"get": {
				"summary": "Get All Commands",
				"description": "Returns information about the available commands",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/command/{command}": {
			"get": {
				"summary": "Send a Command",
				"description": "Sends a command to a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}, {
				"$ref": "#/parameters/command"
				}],
				"tags": [
					"Command"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/command/{command}/count/{count}": {
			"get": {
				"summary": "Send a Command",
				"description": "Sends a command to a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}, {
				"$ref": "#/parameters/command"
				}, {
				"$ref": "#/parameters/count"
				}],
				"tags": [
					"Command"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/power/on": {
			"get": {
				"summary": "Turn Device On",
				"description": "Turns on a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Power"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/power/standby": {
			"get": {
				"summary": "Enable Device Standby",
				"description": "Put a specified device in standby mode",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Power"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/input/{port}": {
			"get": {
				"summary": "Switch Device Input",
				"description": "Switch to a specified port on a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}, {
				"$ref": "#/parameters/port"
				}],
				"tags": [
					"Command",
					"Input"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/volume/set/{volumeDifference}": {
			"get": {
				"summary": "Set Device Volume",
				"description": "Change the volume of a specified device by a specified difference amount",
				"parameters": [{
					"$ref": "#/parameters/address"
				}, {
				"$ref": "#/parameters/volumeDifference"
				}],
				"tags": [
					"Command",
					"Audio"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/volume/calibrate/{defaultVolume}": {
			"get": {
				"summary": "Calibrate Device Volume",
				"description": "Set the default volume of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}, {
				"$ref": "#/parameters/defaultVolume"
				}],
				"tags": [
					"Command",
					"Audio"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/volume/up": {
			"get": {
				"summary": "Increase Device Volume",
				"description": "Increase the volume of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Audio"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/volume/down": {
			"get": {
				"summary": "Decrease Device Volume",
				"description": "Decrease the volume of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Audio"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/volume/mute": {
			"get": {
				"summary": "Mute Device Volume",
				"description": "Mute the volume of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Audio"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/volume/unmute": {
			"get": {
				"summary": "Unmute Device Volume",
				"description": "Unmute the volume of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Audio"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/display/blank": {
			"get": {
				"summary": "Blank Device Screen",
				"description": "Blank the display of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Display"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		},
		"/{address}/display/unblank": {
			"get": {
				"summary": "Unblank Device Screen",
				"description": "Unblank the display of a specified device",
				"parameters": [{
					"$ref": "#/parameters/address"
				}],
				"tags": [
					"Command",
					"Display"
				],
				"responses": {
					"200": {
						"description": "A health message",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/response"
							}
						}
					},
					"401": {
						"$ref": "#/responses/401"
					},
					"500": {
						"$ref": "#/responses/500"
					},
					"503": {
						"$ref": "#/responses/503"
					},
					"default": {
						"$ref": "#/responses/defaultResponse"
					}
				}
			}
		}
	},
	"definitions": {
		"HATEOAS": {
			"type": "object",
			"properties": {
				"rel": {
					"type": "string",
					"description": "A human-readable name for what the link represents"
				},
				"href": {
					"type": "string",
					"description": "The link to the endpoint"
				}
			}
		},
		"response": {
			"type": "object",
			"properties": {
				"links": {
					"$ref": "#/definitions/HATEOAS"
				},
				"response": {
					"type": "string"
				}
			}
		},
		"error": {
			"type": "object",
			"properties": {
				"response": {
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"address": {
			"name": "address",
			"in": "path",
			"description": "IP Address of Device",
			"required": true,
			"type": "string"
		},
		"command": {
			"name": "command",
			"in": "path",
			"description": "Device Command",
			"required": true,
			"type": "string"
		},
		"count": {
			"name": "count",
			"in": "path",
			"description": "Command Count",
			"required": true,
			"type": "string"
		},
		"port": {
			"name": "port",
			"in": "path",
			"description": "Device Port",
			"required": true,
			"type": "string"
		},
		"volumeDifference": {
			"name": "volumeDifference",
			"in": "path",
			"description": "Volume Difference",
			"required": true,
			"type": "string"
		},
		"defaultVolume": {
			"name": "defaultVolume",
			"in": "path",
			"description": "Device Default Volume",
			"required": true,
			"type": "string"
		}
	},
	"responses": {
		"401": {
			"description": "You are not authorized to make that request",
			"schema": {
				"$ref": "#/definitions/error"
			}
		},
		"500": {
			"description": "There was a problem with the server on our end",
			"schema": {
				"$ref": "#/definitions/error"
			}
		},
		"503": {
			"description": "The server is overloaded, is under maintenance, or is otherwise unavailable",
			"schema": {
				"$ref": "#/definitions/error"
			}
		},
		"defaultResponse": {
			"description": "Unexpected error",
			"schema": {
				"$ref": "#/definitions/error"
			}
		}
	}
}
